body {
	background-color: #16a085;
	background: url(https://pp.vk.me/c628622/v628622933/2677f/9jO98360bjo.jpg) no-repeat center center fixed;
	background: url(https://pp.vk.me/c626724/v626724783/1f21c/vIAFK-mfRwA.jpg) no-repeat center center fixed;
	background: url(https://pp.vk.me/c631231/v631231230/418d1/AXIm19mFvLc.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hidden-overflow {
	overflow: hidden;
}

.centered {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.more {
	color: #3498db;
}

#word {
	color: #e74c3c;
}

.cyrillic {
  font-family: Cuprum;
}

.label {
  font-family: Oswald;
	font-size: 72px;
	/*color: #ffffff;*/
	color: #f39c12;
	line-height: 150px;
	margin: 0px;
}
.big {
	font-size: 200px;
}

.small {
	font-size: 30px;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list {
	margin-left: auto;
	margin-right: auto;

	width:500px;
}

.rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.rounded-list a:hover{
    background: #eee;
}

.rounded-list a:hover:before{
    transform: rotate(360deg);
}

.rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
